[Unit]
Description=VK Bot
After=network.target

[Service]
User=serge
Group=serge

WorkingDirectory=/home/serge/vk_bot/
Environment="PYTHONPATH=/home/serge/vk_bot/"
ExecStart=/home/serge/vk_bot/.venv/bin/python /home/serge/vk_bot/bot_4.py

[Install]
WantedBy=multi-user.target